header{
    height: 100px;
    width: 100%;
    position: fixed;
    top:0;
    background-color:aqua;
    display: inline;
    align-items: center;
}
body{
    margin:0;
    padding: 0;
}
.kyd{
    position: absolute;
    top:5px;
    left:5px;
}
.title{
    margin-right: 30px;
    margin-top:30px;
}
main{
    background-image: url("https://cdn-ak.f.st-hatena.com/images/fotolife/u/ummmmmmmmmmm/20220918/20220918131517.png");

    position: relative;
    top:78px;
    text-align: center;
}
.back{
    position:fixed;
    bottom: 80px;
    right: 40px;
    z-index: 100;
}
